/* @Name: membersDetail.component
 * @Description: 用户详情表格文件
 * @Creation Time: 2018/10/15 11:31.
 * @Author: husiyuan
 * @Since: angularPractiseDemo 0.1.0
 */
.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

[nz-input] {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}
